@import "katex/dist/katex.min.css";
@import "pseudocode/build/pseudocode.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.katex-display {
  @apply overflow-x-auto;
  @apply overflow-y-hidden;
}

.katex-ps-funcname {
  font-family: KaTeX_Main, "Times New Roman", Times, serif;
  font-weight: 400;
  font-variant: small-caps;
  font-style: normal;
  text-transform: none;
}

figure[data-rehype-pretty-code-figure] pre {
  @apply p-0;
}

figure[data-rehype-pretty-code-figure] code {
  @apply my-2 leading-7;
}

figure[data-rehype-pretty-code-figure] code > span[data-line] {
  @apply px-2;
}

figure[data-rehype-pretty-code-figure] code[data-line-numbers] {
  @apply [counter-reset:line];
}

figure[data-rehype-pretty-code-figure]
  code[data-line-numbers]
  span[data-line]::before {
  @apply mr-3 inline-block w-4 text-right text-gray-400
    content-[counter(line)]
    [counter-increment:line];
}

figure[data-rehype-pretty-code-figure]
  code[data-line-numbers-max-digits="3"]
  span[data-line]::before {
  @apply w-6;
}

figure[data-rehype-pretty-code-figure] span[data-highlighted-line] {
  @apply bg-gray-600;
}

figure[data-rehype-pretty-code-figure]
  code[data-line-numbers]
  span[data-highlighted-line]::before {
  @apply text-gray-100;
}
